.projectsH1 {
  color: #232763;
  background: linear-gradient(#676767 60%, #232763 80%);
  /* background: linear-gradient(#f95528 70%, #ec1b78 60%); */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-family: 'Righteous', cursive;
  -webkit-text-stroke: .1px #232763;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}
/* .projectsContainer {
  background-color: #ffffff
} */