.projectsH1 {
  color: #232763;
  background: linear-gradient(#676767 60%, #232763 80%);
  /* background: linear-gradient(#f95528 70%, #ec1b78 60%); */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-family: 'Righteous', cursive;
  -webkit-text-stroke: .1px #232763;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}
/* .projectsContainer {
  background-color: #ffffff
} */

.projectsIntro {
  background: #ffffff;
  border-radius: 10px;
  padding: 4px;
  font-size: 1em;
  font-family: 'Righteous', cursive;
  border: 2px solid #232763;
  border-radius: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}